<div class="modal-header">
    <h3 class="modal-title">Retrieve money</h3>
</div>
<div class="modal-body">
    <h2>Total Amount : <span ng-bind="withdrawal.total | currency:'€'"></span></h2>
    <div class="row form-group">
        <div class="col-md-6">
            <label for="amount">Amount</label>
            <input id="amount" name="amount" type="number" ng-model="withdrawal.amount" class="form-control"><br>
            <div ng-show="withdrawal.error" class="alert alert-danger" role="alert" ng-bind="withdrawal.errorMsg"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="withdrawal.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="withdrawal.cancel()">Cancel</button>
</div>